/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

body {
  height: 100vh;
  width: 100vw;
  margin: auto;
}

#main {
  width: 90%;
  margin: 5%;
  height: 15%;
}

article {
  margin: 7%;
  height: 40%;
}

@media screen and (min-width: 700px) and (max-width: 899px){
  article {
    float: left;
    width: 40%;
    height: 20%;
    /*margin: 2.5% 2.5%;*/
  }

  article:nth-of-type(odd) {
    margin: 2.5% 2.5% 2.5% 7.5%;
  }

  article:nth-of-type(even) {
    margin: 2.5% 5% 2.5% 2.5%;
  }
}

@media screen and (min-width: 900px) {
  
}
