/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
}

article, header{
  margin: 0 2%;
}

article img {
  display: none;
}

@media screen and (min-width: 600px) {

}
